/* COLOR PALETTE 

Text color: #222
Header: rgb(117, 134, 123)
Primary: rgb(40, 160, 80)
Secondary: rgb(152, 255, 186)

*/

/* GLOBAL */
* {
    font-family: "roboto condensed", Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #222;
    box-sizing: border-box !important;
    margin: 0px;
}

/* ELEMENTS */
body {
    background-color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-variant: small-caps;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

p {
    margin: .75em;
}

img {
    border: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 1em;
}

a {
    padding-left: 1em;
    padding-right: 1em;
    padding: .5em;
    color: #000;
    text-decoration: none;
}

a:visited {
    color: rgb(167, 53, 167);
}

a:hover, a:focus {
    background-color: rgba(0, 0, 0, .25);
    border-radius: 20px;
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
}

a:active {
    color: #222;
    background-color: #fff;
}

main {
    display: flex;
    flex-direction: row;
    padding: 1em;
}

form {
    max-width: 600px;
    padding: .5em;
    display: flex;
    flex-direction: column;
}

button {
    border: none;
    font-family: inherit;
    background-color: rgb(40, 160, 80);
    color: white;
    border-radius: 5px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.3);
    padding: 1em;
}

button:hover, button:focus {
    cursor: pointer;
    opacity: 0.8;
}

button:active {
    cursor: pointer;
    opacity: 0.5;
    border-bottom: 3px solid gray;
}

/* CLASSES */
.page-header {
    background-color: rgb(117, 134, 123);
    display: flex;
    width: 100%;
    padding: 20px;
}

.page-header__item {
    margin: 2px 0px;
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.topLogo {
    border: none;
    max-width: 200px;
    margin: 2px;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
}

.navigation-list__item {
    background-color: #fff;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    margin: 2px;
    padding: 10px;
}

.navigation-list__item--active {
    background-color: #fff;
    border: 2px solid rgba(152, 255, 186);
}

.profile {
    /* max-width: 700px; */
    justify-content: center;
}

.profile__portrait {
    float: left;
    width: 250px;
    height: 250px;
    margin-right: 25px;
    border-radius: 50%;
}

.profile__text {
    /* flex: (flex-grow boolean) (flex-shrink boolean) (flex-basis starting size) */
    flex: 1 1 100px;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, .9);
}

.reading-text {
    padding: 1em;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, .9);
}

.button__secondary {
    background-color: rgb(152, 255, 186);
    color: #000;
}

.page-footer {
    background-color: rgba(0, 0, 0, .2);
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.social-links-container {
    
}

.social-link-icon {
    border: none;
    border-radius: 50%;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

/* GRID STLYING */
/* start grid fallback */
.grid__item {
    display: inline-block;
    width: 33%;
}
/* end grid fallback */

@supports (display: grid) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        margin: 0;
        margin-bottom: 20px;
    }
    
    .grid__item {
        background-color: #ddd;
        width: auto;
        min-height: auto;
        padding: 20px;
        margin: 0;
    }
    
    .grid__item:first-child {
        background-color: #ccc;
        /* starts in column#3 / ends at the start of cell#3 */
        grid-column: 1 / 1;
        /* starts in row#1 / ends at at start of cell#3 */
        grid-row: 1 / 3;
    }
}